html body{
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
}


.body-container{
  display: flex;
  flex-wrap: wrap;
}

.body-container .AssignmentSlipContainer{
  height: 100%;
  flex: 1 1 300px;
}

.assignments-table{
  
}
th,td{
  text-align: left;   
}
.navigation-links ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-links ul li{
  margin: 0 20px;
}
.app-wrapper-container{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
a{
  color: #0e6ce1;
  text-decoration: none;
}
*{
  box-sizing: border-box;
}