.filter-container{
    margin-bottom: 20px;
}
.OCLMM2Container{
  max-width: 1200px;
  margin: 0 auto;
}
.students-assignment-count-container{
    h2{
        text-align: left;
    }
}
.App-header{
    text-align: center;
}
.filter-container{
    margin: 0 auto 20px;
    text-align: center;
}